.main {
    display: flex;
}

.container-video {
    flex: 4;
    overflow-y: auto;
    height: calc(100vh - 70px);
}

.container-video::-webkit-scrollbar {
    width: 15px;
}

.container-video::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}