.video-side-main {
  height: auto;
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.video-side-main .videos-box {
  width: calc(100% / 4 - 20px);
  height: 300px;
  margin-right: 15px;
}

.videos-box .videos-side {
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.videos-box .videos-side video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.video-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.video-current-time {
  width: 50px;
  text-align: center;
  height: auto;
  background: black;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.video-side-main .videos-title {
  width: 100%;
  padding: 15px 0 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
  flex-direction: row;
}

.videos-title .videos-title-channel {
  width: 70px;
  text-align: center;
}

.videos-title .videos-title-channel img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.videos-title .videos-title-desc {
  width: calc(100% - 60px);
  cursor: pointer;
}

.videos-title .videos-title-desc h2 {
  font-size: 17px;
  font-weight: 600;
}

.videos-title .videos-title-desc p {
  font-size: 15px;
  color: lightslategray;
}

.videos-title-block button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: lightslategray;
}


.video-muted-btn {
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 15px;
}